.container {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("src/assets/waves_with_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.form-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    max-height: 31rem;
    width: 25rem;
    background-color: #222;
    border-radius: 0.75rem;
    box-shadow: 0 0 50px 15px rgba(208,143,0,1);
    color: white;
}

.logo {
    max-width: 7rem;
}

.form-name {
    font-size: 1.75rem;
}

.form-child {
    margin-top: 0.75rem;
}

.form-button {
    margin-top: 1.5rem;
}