.root {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("src/assets/waves_with_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}