.sidebar {
    display: flex;
    flex-direction: column;
    max-height: 97vh;
    min-width: 5vw;
    max-width: 5vw;
    background-color: #222;
    border-radius: 0.75rem;
    box-shadow: 0 0 50px 10px rgba(208,143,0,1);
    padding: 1rem;
}